@{
    ViewData["Title"] = "Информация";
}

<h2>Информация</h2>
<h5>Данный продукт был создан для расчёта конвективного теплообмена при поперечном обтекании пучка труб.</></h5>
<p>
    Подобные геометрические системы широко используются при эксплуатации теплообменных аппаратов и в котлоагрегатах.

    При натекании потока на одиночную трубу коэффициент теплоотдачи по ее периметру распределяется крайне неравномерно и его максимальное значение может отличаться от минимального в 4-5 раз.

    При наличии пучка труб процесс теплоотдачи еще сильнее усложняется. Пучки труб можно расположить по-разному. Наиболее часто встречаются коридорное и шахматное размещение труб в пучке. В первом случае трубы в каждом ряду располагаются строго друг за другом с определенным интервалом между осями. Во втором случае параллельные ряды труб сдвинуты относительно друг друга на половину расстояния между осями труб в каждом ряду.
</p>
